<footer class="mt-auto bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb">
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mahmoud-dwidar-2000/" target="_blank" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
  
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/mahmouddwidar" target="_blank" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
    <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Created By Mahmoud Dwidar
        <br>
        <a class="text-white" href="mailto:mahmouddwidar23@gmail.com"><b>mahmouddwidar23@gmail.com</b></a>
    </div>
    <!-- Copyright -->
</footer> 